.questionBody {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;  */
    margin-top: 5%;
    border-bottom: #000000 1px dashed;
}

.views-count {
    width: 15%;
}

.question-content {
    width: 60%;
}

.answer_question_right {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.question-user{
    color: red;
    margin-bottom: 0px;
}

.question-time{
    color: #6b6b6b;
    margin-top: 0px;
}